{% include "header.html" %}
2

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="./static/assets/img/new_hero_img.jpg" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Romiya Ram</h2>
        <p><span class="typed" data-typed-items="Designer, Budding Developer, Freelancer"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-md-6">

            <div class="row justify-content-between gy-4">
              <div class="col-lg-5">
                <img src="./static/assets/img/profile-img.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 about-info">
                <p><strong>Name: </strong> <span>Romiya</span></p>
                <p><strong>Profile: </strong> <span>Python developer</span></p>
                <p><strong>Email: </strong> <span>romiya@gmail.com</span></p>
                <p><strong>Phone: </strong> <span>9911546780</span></p>
              </div>
            </div>

            <div class="skills-content skills-animation">

              <h5>Skills</h5>

              <div class="progress">
                <span class="skill"><span>HTML</span> <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>CSS</span> <i class="val">65%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Python</span> <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Photoshop</span> <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

            </div>
          </div>

          <div class="col-md-6">
            <div class="about-me">
              <h4>About me</h4>
              <p>
                I am a passionate learner. I have a Bachelor degree in the field of Biotechnology. Though I couldn't
                do my Higher's in biotech, I did some online courses in the field of Visual Design due to my natural
                inclination towards sketching.
              </p>
              <p>
                I have experience in the designing field and had worked as an UI/UX Designer
                and also in digital marketing field creating compelling graphics and ads that bring value to the firm.
              </p>
              <p>
                But currently I want to switch my career field and that's then when I started learning programming.
                I am very new to this field. I am keenly interested in the field of Data Science, so learning Python
                is my first  step towards climbing up the ladder which is still a long way to go.
              </p>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Romiya Ram</h4>
              <p><em>Looking for an opportunity to leverage and learn more skills, explore new areas and grow.</em></p>
              <ul>
                <li>Chennai, Tamil Nadu</li>
                <li>9911546780</li>
                <li>romiya@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Technology: Biotechnology</h4>
              <h5>2010 - 2014</h5>
              <p><em>St. Josephs College of Engineering - India</em></p>
              <p>Awarded Gold Medal in Anna University</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Udemy - Advanced Adobe</h4>
              <h5>Jan'2020</h5>
              <h4>Coursera - UI/UX Design Specialization</h4>
              <h5>July'2020</h5>
              <h4>Udemy - Figma</h4>
              <h5>Dec'2021</h5>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>UI/Visual Graphics Designer</h4>
              <h5>2020 - Jan'2024</h5>
              <p><em>Ulektz Learning Solutions Pvt Ltd, Chennai, TN </em></p>
              <ul>
                <li>Designed new website design templates, created storyboards, visual mockups, and produced
                  professional visual presentations</li>
                <li>Put together videos for social media, advertising and informational purposes </li>
                <li>Designed UI, UX and marketing materials for 5+ apps</li>
                <li>Worked closely with various marketing & tech teams</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Python Developer</h4>
              <h5>2024 - Present</h5>
              <p><em>Still Learning</em></p>
              <ul>
                <li>I am still learning about python programming and wishing to gain additional skillset</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section accent-background">

      <img src="./static/assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    </section><!-- /Stats Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Below are some of my coding projects that I worked on.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="./static/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Flight Price Monitor</h4>
                <p>Get notification when the flight ticket price matches your target price</p>
                <a href="./static/assets/img/portfolio/app-1.jpg" title="Flight Price Monitor" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href='https://github.com/Romiya0206/Flight-search.git' title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="./static/assets/img/portfolio/product-1.jpg" style="height:235px; width:100%" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Morse Code</h4>
                <p>Encrypt or Decrypt a text into code or a code to text</p>
                <a href="./static/assets/img/portfolio/product-1.jpg"  title="Morse Code" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></style></a>
                <a href="https://github.com/Romiya0206/Morse-code-project.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="./static/assets/img/portfolio/branding-1.jpg" style="height:235px; width:100%" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Top 100 Movies</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="./static/assets/img/portfolio/branding-1.jpg" title="Top 100 Movies" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://github.com/Romiya0206/100-Movies-to-watch.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <img src="./static/assets/img/portfolio/books-1.jpg" style="height:235px; width:100%"  class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Work Friendly Cafeterias Near You</h4>
                <p>List of cafe's with facilities that will favour you to work at peace.</p>
                <a href="./static/assets/img/portfolio/books-1.jpg" title="Work-Friendly Cafe" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://github.com/Romiya0206/Work-Friendly-Cafe-Near-You.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="./static/assets/img/portfolio/app-2.jpg" style="height:235px; width:100%" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Blog Website</h4>
                <p>A sample blog website that is fully functional</p>
                <a href="./static/assets/img/portfolio/app-2.jpg" title="Blog Website" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://github.com/Romiya0206/Blog-Website.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="./static/assets/img/portfolio/product-2.jpg" style="height:235px; width:100%"  class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>US States Project</h4>
                <p>Learn the names of the 50 US States</p>
                <a href="./static/assets/img/portfolio/product-2.jpg" title="US States Project" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://github.com/Romiya0206/US-States.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section accent-background">

      <img src="./static/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>To hire me or to share your reviews or suggestions please fill up the contact form.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Tamil Nadu, Chennai</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Me</h3>
                  <p>9911546780</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>romiya@gmail.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->

          </div>
        </div>

        <form action="{{ url_for('homepage') }}" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" class="form-control" name="name" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer accent-background">

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="./static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="./static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>